@model IEnumerable<BadmintonBookingSystemAPI.Models.Customer>
@{
    ViewData["Title"] = "Customer";
}

<h2>Customers List</h2>
<table class="table bg-success">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>DOB</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustName</td>
                <td>@customer.DOB.ToShortDateString()</td>
                <td>@customer.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@customer.CustID" class="text-black">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@customer.CustID" class="text-black">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="text-black">Add New Customer</a>